.grid-layout{
    border:  1px solid #ff0000;
    margin-left: 350px;
    height: 1000px;
    width: 900px;
}


.grid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
}

header{
    display: grid;
    grid-template-columns:  auto;
    
}
.titulo{
    display: grid;
    grid-template-rows: auto ;
}

.descripcion{
    font-size: large;
    display: grid;
    grid-template-columns: auto ;
    text-align: center;
    margin-bottom: 100px;
}

main{
    display: grid;
    grid-template-rows: auto;
    
}
.cuadro{
    
    background-color: rgb(69, 69, 71);
    border-left: 70px solid #0071f3;
   
}

.datos-personales{
    background-color: rgb(69, 69, 71); 
    height: 450px;
}

.contacto{
    
    background-color: rgb(69, 69, 71);

    border-left: 70px solid #0071f3;
   ;
}
.cuerpo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
}
.cuerpo-cuadro{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.lado{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 10mm;
    margin-bottom: 1px;
    color: #000000;
}
h2{
    font-size: 10mm;
    color: #000000;
}
h3{
    text-align: center;
}

.foto-principal{
    margin-top: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
.perfil{
    text-align: center;
}

.icons{
    padding-left: 10px;
    width: 70px;
    height: 70px;
}
.icon-nombre{
    font-size: large;
padding-top: 20px;
padding-left: 20px;
}

.icon-lugar{
    display: grid;
    grid-template-columns: auto auto;
   text-align: left ;
   width: 200px;
    
}

