*{text-decoration: none;

}

a:visited, a:link, a:active{
    color: #000000;
}
header{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    background-color: #0073c0; /* Azul más suave y moderno */
}
body{
    background-color: #ffffff;
}

.Mesa{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 10px;
}

.Tarjeta{
    width: auto;
    height: auto;
    border-radius: 20px;
    
    margin: 50px;
}

.tarjeta:hover{
    padding: 30px;
    transition: 0.5s;
}

.cabecera{
    background-color: #EFB778;
    height: 300px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #000000;
    border-bottom: none;
}


.FotoPerfil{
    text-align: center;
}

.Foto{
    height: 200px;
    width: 200px;
    margin-top: 30px;
    border-radius: 50%;
    border: 2px solid #000000;
}
.cuadrado{
    height: 40px;
    width: 40px;
    background-color: yellow;
    position: relative;
    top: 250px;
    left: 280px;
    border-radius: 50%;
}

.cuadrado:hover{
    transition: 0.5s;
    background-color: #e6ab0a;
    cursor: pointer;
    user-select: none;
}

.icono{
    font-size: 9.5mm;
    text-align: center;
}



.nombre{
    text-align: center;
    font-size: 24px;
}
.minidatos{
    height: 20px ;
    text-align: center;
}

.data{
    background-color: #eeeeee;
    height: 200px;
    width: 300px;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #000000;
}

.datos{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    font-family: "Josefin Sans", sans-serif;

    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.likes{  border-right:  1px solid #000000} 
.following{    border-right:  1px solid #000000;} 
.followers{}


.boton{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-left: 93px;
    margin-top: 50px;
    padding-top: 5px;
    background-color: #e60a0a;
    color: aliceblue;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.boton a{
    color: aliceblue;
}

.boton a:hover{
    color: #000000;
}

.boton:hover{
    transition: 0.7s;
    position: relative;
    top: -2px;
    
    
}
.info{
    margin-top: 50px;
    text-align: center;
}
a{
    text-align: center;
}



h1{
    margin: 10px;
}
h2{
    margin: 10px;
}

.josefin-sans-boton {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
  }
  